*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    width: 95%;
    margin: auto;
    color: #33475b;
}

.container::after{
    content: ' ';
    display: table;
    clear: both;
}

.clearfix::after{
    content: ' ';
    display: table;
    clear: both;
}

.btn-white{
    background-color: white;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    text-decoration: none;
    border-radius: 0.1875rem;
    padding: 0.655em 1.111em 0.355em;
    margin-right: 1.111em;
}

.btn-small{
    background-color: #ff7a59;
    color: white;
    text-decoration: none;
    border-radius: 0.1875rem;
    padding: 0.655em 1.111em 0.355em;
}

.btn{
    background-color: #ff7a59;
    color: white;
    text-decoration: none;
    border-radius: 0.1875rem;
    padding: 1.411em 2em 1.211em;
}

#header-top{
    width: 100%;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    padding: 0.75rem 0;
    position: fixed;
    top: 0;
    z-index: 2;
}

#header-top-left{
    float: left;
    width: 50%;
}

#header-top-left .language{
    float: left;
    padding: 0.75rem 0;
}

.language span{
    padding: 0 0.25rem;
}

.language i:last-of-type{
    padding-right: 0.75rem;
    border-right: 2px solid #cbd6e2;
}

#header-top-left a{
    float: left;
    text-decoration: none;
    padding: 0.75rem;
    color: #33475b;
}

#header-top-right{
    float:left;
    width: 50%;
    text-align: right;
}

#header-top-right i{
    float: right;
    padding: 0.655em 1.111em 0.355em;
    color: #00a4bd;
}

#header-top-right a{
    float: right;
}

#header-bottom{
    margin-top: 67.4px;
    padding: 0.75rem 0;
}

#logo{
    float: left;
    width: 30%;
}

#main-menu{
    float: left;
    width: 70%;
    text-align: right;
    position: relative;
}

#main-menu ul{
    list-style: none;
    position: absolute;
    right: 0;
}

#main-menu li{
    float: left;
    padding: 0.5rem 0;
}

#main-menu a{
    padding: 0.75rem 1rem;
    color: #33475b;
    text-decoration: none;
    font-size: 18px;
}

#main-menu i{
    padding-left: 0.25rem;
}

#jumbotron{
    background-image: linear-gradient(#fff2ee 80%, #00a48d);
    padding-top: 100px;
    padding-bottom: 150px;
}

.jumbo{
    float:left;
    width: 30%;
}

.jumbo h1{
    margin-bottom: 10px;
}

.jumbo p{
    margin: 40px 0;
}

#planes{
    background-color: #f5f8fa;
    padding: 50px 0;
}

#planes-top{
    margin-bottom: 50px;
}

.text{
    float: left;
    width: 34%;
}

.text p:first-child{
    font-size: 24px
}

.text p:nth-child(2){
    font-size: 18px;
}

.box{
    width: 32%;
    background-color: white;
    float: left;
    padding: 25px 15px;
}

#planes-top .box{
    width: 66%;
}

.box img{
    float: left;
    margin-right: 5px;
}

.box p:first-of-type{
    float:left;
    line-height: 25px;
}

.box p:nth-of-type(2){
    clear: both;
}

.box hr{
    float: right;
    width: 100%;
    margin: 10px 0;
}

.box ul{
    font-weight: 500;
    list-style: none;
    float: left;
    width: 70%;
}

.box li{
    float: left;
    margin-right: 20px;
    padding-top: 7px;
    line-height: 25px;
    clear: both;
}

.box li::before{
    content: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg);
    width: 25px;
    float: left;
    margin-right: 10px
}

.btn-box{
    float: right;
    clear: both;
    width: 100%;
    text-align: center;
}

#planes-top hr{
    width: 80%;
}

#planes-top .box li{
    clear: none;
}

#planes-top .btn-box{
    clear: none;
    width: 30%;
}

#planes-bottom .box:nth-of-type(2){
    margin: 0 2%;
}

#background-radiant{
    background-image: linear-gradient(to right, #00a4bd, #00bda5);
    text-align: center;
    padding: 100px 0;
}

#background-radiant p{
    color: white;
    width: 80%;
    margin: auto;
}

.box-radiant{
    float: left;
    width: 25%;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.box-radiant:nth-of-type(4n+1){
    border-left: none;
}

.box-radiant:nth-of-type(1n+5){
    border-bottom: none;
}

#partnership{
    padding: 100px 0;
}

#partnership-right{
    float: left;
    width: 66%;
}

#partnership-right img{
    float: left;
    width: 25%;
    padding: 20px 10px;
}

#free-start{
    padding: 100px 0;
}

#free-start img{
    float: left;
    width: 70%;
    padding-left: 400px;
}

footer{
    background-color: #33475b;
    padding: 100px 0 50px;
}

footer ul{
    list-style: none;
    float: left;
    width: 25%;
}

footer li{
    color: white;
    padding: 10px 0;
}

footer a{
    color: #cbd6e2;
    text-decoration: none;
    padding: 10px 0;
    margin-right: 20px;
}

#footer-top li:nth-child(7){
    margin: 30px 0;
}

#footer-top .btn{
    background-color: white;
    color: #33475b;
    padding: 20px 15px;
}

#footer-middle{
    padding: 50px 0;
}

#footer-middle ul{
    float: none;
    width: 70%;
    margin: auto;
}

#footer-middle li{
    float: left;
}

#footer-middle a{
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

#footer-bottom{
    border-top: 1px solid #cbd6e2;
    padding-top: 50px;
}

#logo-footer{
    float: left;
}

#logo-footer p{
    color: #cbd6e2;
    margin-top: 20px;
}

#privacy{
    float: right;
    text-align: right;
}

#chat{
    display: inline-block;
    background-color: #33475b;
    padding: 20px;
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
    color: white;
    font-size: 25px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}
